.cards {
  width: calc( (#{$card-space} * 2 + #{$card-size}) * 4 + (100vw - 992px));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 4px 0 50px;
  &__card {
    display: flex;
    flex-direction: column;
    width: $card-size;
    padding: 2rem 1rem 1rem;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    color: $color-main;
    margin: 46px $card-space 0;
  }
}
