.main {
  padding: 50px 0;

  &__cards {
    margin: 0 auto;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 944px;

  &__card {
    margin-right: 48px;
    margin-bottom: 46px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
