.card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;

  width: $card-width;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
  
  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }
  
  &__product-title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #060b35;
    margin: 0 0 4px;
  }
    
  &__sku {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #616070;
    margin: 0 0 16px;
    align-self: flex-start;
  }
    
  &__buy-button {
    font-family: "Roboto", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background: #00acdc;
    border-radius: 5px;
    height: 40px;
    width: 166px;
    color: #fff;
    border: none;
  }
    
  &__buy-button:hover {
    box-sizing: border-box;
    background: #fff;
    color: #00acdc;
    border-color: #00acdc;
    border: solid #00acdc 1px;
  }
}
