.container {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  max-width: (4 * $card-width) + (3 * $card-gapX);
  margin: auto;
  padding: 50px 0;

  &__card {
    margin-right: $card-gapX;
    margin-top: $card-gapY;

    &:nth-child(-n + 4) {
      margin-top: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
