.page__header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: var(--white-color);
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-right: 20px;
  }

  &__item:last-child {
    margin-left: 0;
    margin-right: 0;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s;
    color: var(--main-text-color);
  }

  .is-active {
    color: var(--primary-color);
  }

  .is-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-color);
  }

  &__link:hover {
    color: var(--primary-color);
  }
}
