.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: rgba(0, 0, 0, 0.45) 0 15px 10px -20px;
  align-items: center;
  font-size: $small-font-size;

  &__logo {
    height: 40px;
  }
}
