@import "../utils/variables";

.nav {
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    position: relative;

    display: flex;
    align-items: center;

    height: 60px;

    color: $p-dark-color;
    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.3s;
  }

  &__link:hover {
    color: $button-link-color;
  }
}

.is-active {
  color: $button-link-color;
}

.is-active::after {
  display: block;

  content: "";

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 4px;
  border-radius: 8px;

  background-color: $button-link-color;
}
