.nav {
  &__list {
    display: flex;
    margin: 0;
    padding-left: 0;

    list-style: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    margin: 0 10px;
  }

  &__link {
    position: relative;
    display: inline-block;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: $text-main-color;

    &:hover {
      color: $button-bgc-color;
    }
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__item:last-child {
    margin-right: 0;
  }
}

.is-active {
  color: $button-bgc-color;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    content: "";

    border-radius: 8px;
    height: 4px;

    background-color: $button-bgc-color;
  }
}
