.page {
  &__content {
    width: 1024px;
    padding: 50px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    &-product {
      display: flex;
      flex-direction: column;
      flex-basis: 200px;
      width: 200px;
      margin-right: 48px;
      margin-bottom: 46px;
      padding: 32px 16px 16px;
      background: $white-color;
      border: 1px solid #f3f3f3;
      border-radius: 5px;

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:nth-last-child(-n+4) {
        margin-bottom: 0;
      }

      &-image {
        width: 160px;
        height: 134px;
        margin: 0 3px 40px;
      }

      &-name {
        margin-bottom: 4px;
        line-height: $large-line-height;
        font-weight: $medium-font-weight;
        color: $main-text-color;
      }

      &-code {
        margin-bottom: 16px;
        font-size: $small-font-size;
      }

      &-reviews {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 24px;

        &-count {
          font-size: $small-font-size;
          color: $main-text-color;
        }
      }

      &-price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        line-height: $large-line-height;

        &-label {
          display: flex;
          align-items: center;
        }

        &-value {
          font-weight: $large-font-weight;
          font-size: $large-font-size;
          color: $main-text-color;
        }
      }

      &-cta-link {
        height: 40px;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        background: $primary-color;
        text-decoration: none;
        border: 1px solid $primary-color;
        border-radius: 5px;
        text-align: center;
        color: $white-color;
        font-weight: $large-font-weight;
        font-size: $medium-font-size;
        text-transform: uppercase;

        &:hover {
          background-color: $white-color;
          color: $primary-color;
        }
      }
    }
  }
}
