@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import "../utils/variables";

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: $font-size-regular;
}

body,
p {
  margin: 0;
}

.page {
  &__header {
    margin: 0 auto;
  }

  &__main-body {
    margin: 0 auto;
  }
}
