.price {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  line-height: 18px;

  &__text {
    margin: 0;
    font-size: 12px;

    color: $text-secondary-color;
  }

  &__amount {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
  }

}
