.product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  margin: auto;
  max-width: 4 * $card-width + 3 * $card-margin-right;

  &__card {
    margin-right: $card-margin-right;
    margin-top: $card-margin-top;
  }

  &__card:nth-child(4n) {
    margin-right: 0;
  }

  &__card:nth-child(-n + 4) {
    margin-top: 0;
  }

}
