.rate {
  @include flex-element(space-between);
  width: 100%;
  &__stars {
    justify-content: space-between;
    width: 58%;
    margin-top: 1px;
    margin-left: 1px;
  }
  &__review {
    font-size: $font-size-small;
  }
}
