@import "../utils/variables";

.review {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: $margin-top-small;

  width: $card-inside-width;

  line-height: $line-height-small;
}

.review__text {
  display: flex;

  font-size: $font-size-small;
  color: $p-dark-color;
}
