.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 166px;
  height: 16px;

  &__counter {
    font-size: $smallest-font-size;
    font-weight: $normal-font-weight;
    line-height: 14px;
    color: $font-main-color;
  }
}
