@import "./utils/variables.scss";
@import "./blocks/card.scss";
@import "./utils/normalize";
@import "./blocks/nav.scss";
@import "./blocks/container.scss";
@import "./blocks/header.scss";
@import "./blocks/stars.scss";
@import "./blocks/review.scss";
@import "./blocks/page.scss";
