body {
  margin: 0;
}

@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/card.scss";
@import "./blocks/product.scss";
@import "./blocks/review.scss";
@import "./blocks/price.scss";
@import "./blocks/buy.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
}
