@import "./utils/variables";
@import "./utils/reset";
@import "./utils/topograpy";

@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/main-body.scss";
@import "./blocks/card.scss";
@import "./blocks/price.scss";
@import "./blocks/review.scss";
@import "./blocks/stars.scss";
@import "./blocks/button.scss";
