$color-hover-button: #00acdc;
$color-main-accent: #060b35;
$color-secondary: #616070;
$color-black: #000;

$card-width: 200px;
$card-spacing: 48px;

$white: #fff;
$border-color: #f3f3f3;
$border-radius: 5px;
$border-radius-active: 8px;

$main-font: "Roboto", sans-serif;

$nav-font-size: 12px;
$card-review-font-size: 10px;
$price-font-size: 16px;
$button-font-size: 14px;
