@import "variables";

.nav {
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin: 0 10px;
    height: 60px;
    text-decoration: none;
    color: $color-main-accent;
    font-weight: 500;
  }

  &__link:hover {
    color: $color-hover-button;
  }
}

.last_link {
  margin-right: 0;
}

.is-active {
  margin-left: 0;
  color: $color-hover-button;
}

.is-active::after {
  content: "";
  position: absolute;
  background: $color-hover-button;
  border-radius: $border-radius-active;
  width: 100%;
  height: 4px;
  bottom: 0;
  right: 0;
}
