@mixin vertical-center {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

@mixin flex-elements($j-content, $a-items: null, $f-direction: null) {
  display: flex;
  flex-direction: $f-direction;
  justify-content: $j-content;
  align-items: $a-items;
}
