//card size
$card-width: 200px;
$card-margin-top: 46px;
$card-margin-right: 48px;

//image size
$img-width: 160px;
$img-height: 134px;

//colors
$main-card-color: #00acdc;
$text-color: #060b35;
$small-text-color: #616070;
$border-color: #f3f3f3;
$box-shadow: rgba(0, 0, 0, 0.05);
$hover-color: #fff;

//fonts
$big-font: 16px;
$normal-font: 12px;
$small-font: 10px;
