// card
$card-width: 200px; //tests doesn't pass with 200px border-box
$card-inside-width: 166px;
$margin-top-small: 16px;
$margin-top-medium: 24px;

// font
$font-size-small: 10px;
$font-size-regular: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

$line-height-small: 14px;
$line-height-large: 18px;

// color
$p-dark-color: #060b35;
$p-light-color: #616070;

$button-link-color: #00acdc;
