/* colors */
$colorPrimary:#00acdc;
$colorAccent: #060b35;
$colorText: #616070;

/* timing */
$transitionDuration: 0.5s;

/*catalog grid */
$gapX: 48px;
$gapY: 46px;

$cardWidth: 200px;

$catalogPaddingX: 40px;
$cardsRowAmount: 4;
