.card-container {
  display: flex;
  flex-wrap: wrap;
  width: (4 * $card-width) + (3 * $card-gapX);
  padding: 5px 0 70px;

  &__card {
    border: 1px solid $light-grey;
    border-radius: 5px;
    margin-top: $card-gapY;
    margin-right: $card-gapX;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
