@import "./../variables.scss";

.stars {
  &__star {
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin: 2px 6px 2px 2px;
  }

  &__review {
    text-align: center;
    font-weight: 400;
    font-size: $card-review-font-size;
    color: $color-main-accent;
    margin: auto 0 0 auto;
  }

  &--1 :nth-child(1),
  &--2 :nth-child(-n+2),
  &--3 :nth-child(-n+3),
  &--4 :nth-child(-n+4),
  &--5 :nth-child(-n+5) {
    background-image: url("../images/star-active.svg");
  }
}
